@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(234, 253, 228);
  --background-end-rgb: rgb(19, 101, 209);
  --background-start-rgb: rgb(161, 32, 32);
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}
